.idea
.DS_Store

cmake-build-debug
main.dSYM
*/*.zip
main

assignment0/*.ppm
assignment0/*.txt
assignment0/assignment0
assignment1a/raytracer1a
assignment1a/*.ppm
assignment1b/raytracer1b
assignment1b/*.ppm
assignment1b/tests/*.ppm
assignment1b/*.png
assignment1c/raytracer1c
assignment1c/*.ppm
assignment1c/tests/*.ppm
assignment1c/*.swp
