.idea
.DS_Store

cmake-build-debug
main.dSYM
*/*.zip
main

assignment0/*.ppm
assignment0/*.txt
assignment0/assignment0
assignment1a/raytracer1a
assignment1a/*.ppm
assignment1b/raytracer1b
assignment1b/*.ppm
assignment1b/tests/*.ppm
assignment1b/*.png
assignment1c/raytracer1c
assignment1c/*.ppm
assignment1c/tests/*.ppm
assignment1c/longtests/*.ppm
assignment1c/*.swp
assignment1c/*.png
assignment1c/textures/keurig*
assignment1c/tests/showcase.txt
assignment1c/textures/table*
assignment1c/textures/chair*
assignment1c/textures/plate*
assignment1c/textures/teapot*
assignment1d/raytracer1d
assignment1d/*.ppm
assignment1d/tests/*.ppm
assignment1d/*.png
assignment1d/showcase/showcase.ppm
assignment2a/cmake-build-debug
assignment2a/.idea
assignment2a/CMakeCache.txt
assignment2a/CMakeFiles/
assignment2a/Makefile
assignment2a/cmake_install.cmake
assignment2a/HW2a
assignment2b/.idea
assignment2b/CMakeCache.txt
assignment2b/CMakeFiles/
assignment2b/Makefile
assignment2b/cmake_install.cmake
assignment2b/HW2b
opengl/cmake-build-debug
opengl/.idea
